.navbar {
  background: var(--primary);
  padding: 14px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.nav-links a {
  color: white;
  margin-left: 20px;
  font-weight: 500;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

.btn {
  display: inline-block;
  padding: 10px 18px;
  background: var(--primary);
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

.section-card {
  background: var(--light);
  padding: 25px;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  text-align: center;
}

.table-box {
  background: white;
  padding: 25px;
  border-radius: var(--radius);
  margin-top: 30px;
  box-shadow: var(--shadow);
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  background: var(--primary);
  color: white;
  padding: 12px;
}

table td {
  padding: 10px;
  border-bottom: 1px solid var(--border);
}
