.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.hero {
  background: var(--primary);
  color: white;
  padding: 50px;
  border-radius: var(--radius);
  text-align: center;
  box-shadow: var(--shadow);
  margin-top: 20px;
}

.section-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}
