:root {
  --primary: #d90429;
  --light: #ffffff;
  --dark: #222;
  --gray: #f5f5f5;
  --border: #e8e8e8;
  --radius: 10px;
  --shadow: 0 4px 12px rgba(0,0,0,0.08);
}

body {
  background: var(--gray);
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}
